<div id="chart-container">
  <h1>Availablity</h1>
  <div #chartStack (window:resize)="onResize()" id="chart-stack"></div>
  <div id="icon-row">
    <div class="week-nav">

    </div>
    <div class="icon-label">
      <img src="assets/sun-icon.svg"/>
      <div class="icon-padding"></div>
      <img src="assets/moon-icon.svg"/>
    </div>
    <div class="icon-label">
      <img src="assets/sun-icon.svg"/>
      <div class="icon-padding"></div>
      <img src="assets/moon-icon.svg"/>
    </div>
    <div class="icon-label">
      <img src="assets/sun-icon.svg"/>
      <div class="icon-padding"></div>
      <img src="assets/moon-icon.svg"/>
    </div>
    <div class="icon-label">
      <img src="assets/sun-icon.svg"/>
      <div class="icon-padding"></div>
      <img src="assets/moon-icon.svg"/>
    </div>
    <div class="icon-label">
      <img src="assets/sun-icon.svg"/>
      <div class="icon-padding"></div>
      <img src="assets/moon-icon.svg"/>
    </div>
    <div class="icon-label">
      <img src="assets/sun-icon.svg"/>
      <div class="icon-padding"></div>
      <img src="assets/moon-icon.svg"/>
    </div>
    <div class="icon-label">
      <img src="assets/sun-icon.svg"/>
      <div class="icon-padding"></div>
      <img src="assets/moon-icon.svg"/>
    </div>
    <div class="week-nav">

    </div>

  </div>
  <div id="label-row">
    <div class="week-nav">
      <
    </div>
    <div class="day-label">
      <div>24 NOV</div>
      <div>SUN</div>
    </div>
    <div class="day-label">
      <div>24 NOV</div>
      <div>SUN</div>
    </div>
    <div class="day-label">
      <div>24 NOV</div>
      <div>SUN</div>
    </div>
    <div class="day-label">
      <div>24 NOV</div>
      <div>SUN</div>
    </div>
    <div class="day-label">
      <div>24 NOV</div>
      <div>SUN</div>
    </div>
    <div class="day-label">
      <div>24 NOV</div>
      <div>SUN</div>
    </div>
    <div class="day-label">
      <div>24 NOV</div>
      <div>SUN</div>
    </div>
    <div class="week-nav">
      >
    </div>

  </div>
</div>
